.accordion {
  /* margin-bottom: 1rem; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  overflow: hidden;
  background-color: #fff;
  width: calc(100% - 1rem);
  border-top: 1px solid #ddd;

}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.25rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  transition: all 0.2s ease;
  /* border: 1px solid red; */

}

.accordion__header:hover {
  background: var(--color-neutral-200);
  filter: brightness(1.1);
}

.accordion__icon {
  font-size: 1rem;
}

.accordion__content {
  padding: 1rem;
}
